<!-- app.component.html -->  
<mat-toolbar color="primary">  
  <span>GenaiBot Bot Builder</span>  
  <span class="spacer"></span>  
  
  <!-- Bouton pour afficher/masquer les messages internes -->  
  <button mat-button (click)="toggleInternalMessages()" [ngClass]="{'active': showInternalMessages}">  
    <mat-icon>{{ showInternalMessages ? 'visibility_off' : 'visibility' }}</mat-icon>  
    {{ showInternalMessages ? 'Hide' : 'Show' }} Internal Messages  
  </button>  
  
  <!-- Bouton pour réinitialiser la conversation -->  
  <button mat-button (click)="resetConversation()">Reset Conversation</button>  
  
  <!-- Bouton pour afficher/masquer le panneau du concepteur -->  
  <button  
    mat-button  
    (click)="toggleDesignerPanel()"  
    [ngClass]="{'active': showDesignerPanel}"  
  >  
    <mat-icon>edit</mat-icon> Prompt Designer  
  </button>  
</mat-toolbar>  
  
<div class="main-container" [ngClass]="{'no-designer': !showDesignerPanel}">  
  <!-- Panneau de gauche pour le Prompt Designer -->  
  <app-prompt-designer  
    *ngIf="showDesignerPanel"  
    [ngStyle]="{'width.px': designerWidth}"  
  ></app-prompt-designer>  
  
  <!-- Séparateur (Splitter) -->  
  <div  
    class="splitter"  
    *ngIf="showDesignerPanel"  
    (mousedown)="onSplitterMouseDown($event)"  
  ></div>  
  
  <!-- Panneau de droite pour le Chat -->  
  <app-chat class="chat-container"></app-chat>  
</div>  
  
<router-outlet></router-outlet>  
